<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                    <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-angular-ios7-16.png">
                </div>
                <span>este es otro componente</span>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <h3>
                    <a href="#" target="_blank">Card</a>
                </h3>
                <span>Esta es la card para angular</span>
            </div>
        </div>
    </div>
</div>